body{
font-family:Arial;
background:#f4f4f4;
margin:0;
}

header{
background:#3567d6;
color:white;
padding:20px;
font-size:24px;
}

.container{
padding:30px;
}

.charts{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-bottom:30px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
min-height:200px;
}

input{
padding:10px;
margin-right:10px;
border-radius:6px;
border:1px solid #ccc;
}

select{
padding:10px;
border-radius:6px;
}

.btn{
padding:10px 15px;
border:none;
border-radius:6px;
color:white;
margin-right:10px;
cursor:pointer;
}

.blue{
background:#3567d6;
}

.green{
background:#16a34a;
}

.purple{
background:#7c3aed;
}

.pagination{
margin-top:10px;
}

.pagination button{
padding:8px 14px;
margin-right:5px;
border:none;
background:#e5e7eb;
border-radius:5px;
cursor:pointer;
}

.pagination .active{
background:#3567d6;
color:white;
}

footer{
background:#3567d6;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}